* {
  box-sizing: border-box;
}

body {
  margin: 30px;
  font-size: 18px;
  background-color: #fafafa;
}

.overview {
  background-color: rgb(203, 210, 212);
}

.overview h3 {
  font-size: 24px;
  color: blueviolet;
}

fieldset {
  border: 1px solid #CCA383;
  width: 80%;
  background: #727ec0;
  padding: 3px;
}

fieldset legend {
  background: #2c3353;
  padding: 6px;
  font-weight: bold;
  color: #fff;
}

.form form label {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 75px;
  float: left;
}

.form form label:after {
  content: ": "
}

.form form input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  /* add top and bottom margin */
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: 60%;
}

textarea {
  width: 60%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 150px;
}

.form form input[type="submit"] {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;
  /* usual styles */
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #5362b6;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 25%;
}